# Virtual Environments
.venv/
venv/
env/

# IDE and Editor folders
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables / Secrets
.env

# Local Database Files
chatbot
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal